---
layout: blogroll
title:  "Последние посты блога"
---
<h1>Последние посты блога</h1>

{% for post in paginator.posts %}
    {% if post.categories contains 'blog' %}
      <article class="post">
        <header>
          <h2>
            {% if post.no_details == 1 %}
              {{ post.title }}
            {% else %}
              <a href="{{ post.url }}">{{ post.title }}</a></h2>
            {% endif %}
          </h2>
        </header>

        <section>
          {{ post.excerpt }}
        </section>

        <footer>
          {% if post.no_details != 1 %}
            <a href="{{ post.url }}">Читать далее</a>
          {% else %}
            <a href="" style="visibility: hidden;">&nbsp;</a>
          {% endif %}
          <span>{{ post.date | date_to_string }}&nbsp;&nbsp;{{ post.author }}</span>
        </footer>
      </article>
  {% endif %}
{% endfor %}