<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ page.title }} | Pattr</title>

  <link rel="stylesheet" href="/css/normalize.css?2">
  <link rel="stylesheet" href="/css/style.css?2">

  <script src="/js/vendor/custom.modernizr.js"></script>

</head>
<body>

<header>
  <div>
    <a href="/"><h2>
      <span>P</span><span>a</span><span>t</span><span>t</span><span>r</span>
    </h2></a>
  </div>
  <nav>
    <div>
      <a href="/">Блог</a>
      <a href="/about.html">О сайте</a>
    </div>
  </nav>
</header>

<div class="row">

    {{ content }}

</div>

<footer>
  <section>
    <div>
      <small>
        2011–{{ site.time | date: '%Y' }} &copy; Pattr
        <br />
        Если не указано иначе, все материалы распространяются по лицензии
          <a href="http://creativecommons.org/licenses/by-sa/3.0/"
             alt="Creative Commons Attribution-ShareAlike 3.0 Unported"
             target="_blank">CC BY-SA 3.0</a>. <br />
        При использовании материалов, пожалуйста, укажите активную ссылку на оригинал.
      </small>
    </div>
  </section>
</footer>

<script>
  document.write('<script src=' +
      ('__proto__' in {} ? '/js/vendor/zepto' : '/js/vendor/jquery') +
      '.js><\/script>')
</script>

<script src="/js/foundation/foundation.js"></script>
<script src="/js/foundation/foundation.section.js"></script>

<script>
  $(document).foundation();
</script>
</body>
</html>
