---
layout: base
---
<section class="blog roll">

  {{ content }}

  <footer>
    {% if paginator %}
      {% assign total_pages = site.categories.blog | size | divided_by: paginator.per_page %}
      {% assign mod = site.categories.blog | size | modulo: paginator.per_page %}
      {% if mod != 0 %}
        {% assign total_pages = total_pages | plus: 1 %}
      {%endif %}
      <ul>
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
            <li class="arrow"><a href="/">&larr;</a></li>
          {% else %}
            <li class="arrow"><a href="{{ paginator.previous_page_path }}">&larr;</a></li>
          {% endif %}
        {% endif %}

        {% if paginator.page == 1 %}
          <li class="current"><a href="">1</a></li>
        {% else %}
          <li><a href="/">1</a></li>
        {% endif %}

        {% for count in (2..total_pages) %}
          {% if count == paginator.page %}
            <li class="current"><a href="">{{ count }}</a></li>
          {% else %}
            <li><a href="/page{{ count }}">{{ count }}</a></li>
          {% endif %}
        {% endfor %}

        {% if paginator.next_page and paginator.page != total_pages %}
            <li class="arrow"><a href="{{ paginator.next_page_path }}">&rarr;</a></li>
        {% endif %}
      </ul>
    {% endif %}
  </footer>
</section>
